# =====================
# Archivos de Visual Studio
# =====================
.vs/
*.user
*.suo

# Archivos de compilación
bin/
obj/
*.dll
*.exe
*.pdb

# Configuración de Rider o VS Code
.idea/
*.code-workspace

# Paquetes
*.nupkg
packages/
*.snupkg

# Archivos temporales y logs
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.Thumbs.db

# Configuraciones locales
appsettings.Development.json
secrets.json

# Docker
*.tar
*.img
*.pid

# Bases de datos y configuraciones sensibles
*.dbf
*.dmp
*.sql
*.ora
dbconfig/
XE/

# Archivos de backup o exportación
*.zip
*.rar
*.7z
*.gz
*.tgz
*.bak

# Git LFS (opcional si no lo usas)
.gitattributes

# BFG y herramientas de limpieza
bfg-*.jar
git-filter-repo/

# Ignorar archivos publicados
publish/
*.publish.xml

# Archivos del sistema
ehthumbs.db
Icon?
Desktop.ini








